.g-bg-secondary {
  background-color: #fafafa !important;
}

.u-shadow-v18 {
  box-shadow: 0 5px 5px -6px rgb(0 0 0 / 15%);
}

.g-color-gray-dark-v4 {
  color: #777 !important;
}

.g-font-size-12 {
  font-size: 0.85714rem !important;
}

.media-comment {
  margin-top: 20px;
}
.media-body {
  padding: 15px;
}

.back-button {
  margin: 20px 0;
}

.comment-body {
  margin: 0;
}

.card {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

.comments-heading {
  margin-left: 15px;
}
.button-group {
  margin: 20px 0;
}
.button-group button {
  margin-left: 10px;
}
